<h3 class="center-align"><%= @list.name() %></h3>
<a class="btn-floating btn-small waves-effect waves-light indigo" href="/"><i class="material-icons">home</i></a>
<a class="btn-floating btn-small waves-effect waves-light green" href="/lists/<%= @list.id() %>/edit"><i class="material-icons">edit</i></a>
<form class="" action="/lists/<%= @list.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn-floating btn-small waves-effect waves-light red" type="submit" name="button"><i class="material-icons">delete</i></button>
</form>
<form action="/tasks" method="post">
    <input id="list_id" name="list_id" type="hidden" value="<%= @list.id() %>">
    <div class="input-field">
        <label for="description">Description of the task:</label>
        <input id="description" name="description" type="text" required="">
    </div>
    <div class="add_task_btn">
        <button type="submit" class="btn waves-effect white black-text">Add task</button>
    </div>
</form>
<br>
<% if @list.tasks().any?() %>
    <div class="collection">
        <% @list.tasks().each() do |task| %>
            <li class="collection-item">
                <%= task.description() %>
                    <form class="" action="/tasks/<%= task.id %>" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn-floating btn-small waves-effect waves-light red delete" name="button"><i class="material-icons">delete</i></button>
                    </form>
            </li>
            <% end %>
    </div>
    <% else %>
        <p class="center-align">There are no tasks on this list!</p>
        <% end %>